.video__wrap {
    width: 472px;
    height: 265px;
    z-index: 10;
    background-color: #e0e0e0;
    box-sizing: border-box;

    @media (max-width: 658px) {
        width: 100%;
        height: 225px;
     }

    .video__item {
        position: relative;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        box-sizing: border-box;
        cursor: pointer;

        &:hover,
        &:focus {

            .video__play {
                outline: none;
                opacity: 1;
                transition: opacity .25s ease-in-out;

                svg {
                    fill: #f12f2f;
                    opacity: 1;
                    transition: fill .25s, background-color .25s;
                }
            }
        }
    }

    .text__hidden {
        position: absolute;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
    }

    .video__img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        box-sizing: border-box;
        border: none;
    }

    iframe {
        width: 100%;
        height: 100%;
        display: block;
        box-sizing: border-box;
        border: none;
    }

    .video__play {
        border: none;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 68px;
        height: 48px;
        cursor: pointer;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: .8;
        transition: opacity .25s ease-in-out;
        outline: none;
        box-sizing: border-box;
        z-index: 1;

        &:focus {
            svg {
                fill: red;
            }
        }

        img,
        svg {
            width: 100%;
            height: 100%;
            transition: fill .25s, background-color .25s;
        }

    }

    .video__caption {
        position: absolute;
        top: 5%;
        left: 5%;
        font-size: 16px;
        color: #fff;
        font-weight: 400;
        font-family: sans-serif;
        z-index: 1;
    }

}